
header { 
   width: 60%;
   height: 60px;
   background-color: #000000;
   color:#ffffff;
   font-family: calibri;
   padding-left: 40%;
   padding-top: 15px;
   font-size: 40pt;
}

#sidebar {
   width: 100px;
   height: 250px;
   margin: auto;
   background-color: #AF5ACD; 
   font-family: arial;
   color: #000000;
   float: left;
}

image {
   float: left;
}

article {
   height: 700px;
   width: 400px;
   border: 10px solid black;
   float: right;
   font-size: 28px;
}


  

 





    

