header { 
   width: 900px;
   height: 75px;
   background-color: #000000;
   margin: 10px;
   color:#ffffff;
   font-family: calibri;
   margin: auto;
}

nav {
   width: 75px;
   height: 900px;
   background-color: #AF5ACD; 
}

iamge{
   width: 400px;
   height: 200px;
}

article {
   height: 700px;
   width: 400px;

}